@page
@model BookLibrary.Pages.Series.DetailsModel

@{
    ViewData["Title"] = "Series - " + Model.Series.Name;
}

<h1>@Model.Series.Name</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <h2>Books</h2>
            <ul>
                @foreach (var b in Model.Books)
                {
                    <li>
                        <span>@Html.DisplayFor(model => b.OrderDisplay)</span>. <span>@Html.DisplayFor(model => b.Title)</span><br />
                        @if (b.Published != null)
                        {
                            <span>Published @String.Format("{0:M/d/yyyy}", b.Published)</span><br />
                        }
                        @if (b.Category != null)
                        {
                            <span>@Html.DisplayFor(model => b.Category)</span><br />
                        }
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Authors</h2>
            <ul>
                @foreach (var a in Model.Authors)
                {
                    <li>@a.Name</li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Subcategories</h2>
            <ul>
                @foreach (var s in Model.Subcategories)
                {
                    <li>@s.Name</li>
                }
            </ul>
        </div>
    </div>
    
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Series?.SeriesId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
