@page
@model BookLibrary.Pages.Book.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Locations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Subcategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].SeriesName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title) <br />
                @Html.DisplayFor(modelItem => item.Subtitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeriesDisplay)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
