@page
@model BookLibrary.Pages.BooksRead.IndexModel

@{
    ViewData["Title"] = "Read a Book";
}
<script src="~/js/jquery/dist/jquery.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.js"></script>
<link herf="~/bootstrap/dist/css/bootstrap.css" />
<script src="~/multiselect-dropdown.js"></script>
<h1>Read a Book</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-action="Index" method="OnGetAsync">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Reader" class="control-label"></label>
                <input asp-for="Reader" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="@Model.CategoryList"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <b>Start Date</b>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="StartDateFrom" class="control-label"></label>
                <input asp-for="StartDateFrom" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="StartDateTo" class="control-label"></label>
                <input asp-for="StartDateTo" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input asp-for="NoStartDate" type="checkbox" class="form-check-input" />
                <label asp-for="NoStartDate" class="form-check-label"></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <b>End Date</b>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="EndDateFrom" class="control-label"></label>
                <input asp-for="EndDateFrom" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="EndDateTo" class="control-label"></label>
                <input asp-for="EndDateTo" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input asp-for="NoEndDate" type="checkbox" class="form-check-input" />
                <label asp-for="NoEndDate" class="form-check-label"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <p>@Model.BooksRead.Count results</p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].Reader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BooksRead) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @String.Format("{0:M/d/yyyy}", item.StartDate)
            </td>
            <td>
                @String.Format("{0:M/d/yyyy}", item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BooksReadId">Edit</a> |
                <a asp-page="../Book/Edit" asp-route-id="@item.BookId">Edit Book</a> |
                <a asp-page="./Delete" asp-route-id="@item.BooksReadId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
