@page
@model BookLibrary.Pages.BooksRead.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].Reader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksRead[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BooksRead) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @String.Format("{0:M/d/yyyy}", item.StartDate)
            </td>
            <td>
                @String.Format("{0:M/d/yyyy}", item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BooksReadId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BooksReadId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BooksReadId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
