@page
@using ChartJSCore.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-4">
        <p>Books read this week: @Model.BooksWeek</p>
        <p>Books read this month: @Model.BooksMonth</p>
        <p>Books read this year: @Model.BooksYear</p>
    </div>
    <div class="col-md-4">
        <p>Books In Progress</p>
        <ul>
            @foreach(var b in Model.BooksInProgress)
            {
                <li>@b</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <p>Books Just Finished</p>
        <ul>
            @foreach(var b in Model.LastBooksFinished)
            {
                <li>@b</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <canvas id="FNFRead" height="250"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="BooksRead12Month" height="250"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="TimeToFinish" height="250"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="SubcategoriesRead" height="250"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="LocationsRead" height="250"></canvas>
    </div>
    <div class="col-md-12">
        <canvas id="BooksPublished" height="500"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="TopAuthors" height="250"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="PagesByAuthor" height="250"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="HoursByAuthor" height="250"></canvas>
    </div>
</div>

@section Scripts {
    <script src="~/chartjs/chart.js"></script>
    <script src="~/date-fns/date_fns.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script type="text/javascript">
        @Html.Raw(Model.FNFRead.CreateChartCode("FNFRead"));
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.BooksRead12Month.CreateChartCode("BooksRead12Month"));
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.TimeToFinish.CreateChartCode("TimeToFinish"));
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.SubcategoriesRead.CreateChartCode("SubcategoriesRead"));
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.LocationsRead.CreateChartCode("LocationsRead"));
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.TopAuthors.CreateChartCode("TopAuthors"));
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.BooksPublished.CreateChartCode("BooksPublished"));
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.PagesByAuthor.CreateChartCode("PagesByAuthor"));
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.HoursByAuthor.CreateChartCode("HoursByAuthor"));
    </script>
}